* {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e9edc9;
}

/* Navigation CSS */
#mainNav {
  background-color: #fefae0 !important;
}

#mypicture {
  box-shadow: 5px 5px 5px 5px #fefae0;
}

/* Jumbotron CSS */

#jumbotron {
  background-color: #e9edc9;
}
/* Main section  */
#skills {
  margin-left: 35px;
  margin-bottom: 35px;
}
.skillList {
  background-color: #ccd5ae;
}
.card {
  background-color: #fefae0;
}

/* Buttons and links */
.btn {
  background-color: #ccd5ae;
}
.navLinks {
  color: #5b3e22;
}

/* Footer */
#footer {
  margin-top: 500px;
  background-color: #fefae0;
}
.footerContact {
  color: #5b3e22;
}

/* Hover effects */
.card:hover {
  box-shadow: 5px 5px 5px 5px #ccd5ae;
}
.navLinks:hover {
  color: #d4a373;
}
.btn:hover {
  color: #d4a373;
}

.hoverLinks:hover {
  box-shadow: 5px 5px 5px 5px #ccd5ae;
}
.skillList:hover {
  background-color: #fefae0;
}
